* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

/* Global styling */

h2 {
    font-size: 6.4rem;
    color: rgb(83, 44, 69);
}

h3,
p {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2.6rem;
}

ul {
    list-style: none;
}

button {
    font-size: 2.4rem;
    padding: 2rem 8rem;
    border: none;
    transition: 1s ease-in-out;
    background-color: rgb(83, 44, 69);
    color: white
}

button:hover {
    cursor: pointer;
    background-color: rgb(73, 116, 133);
    color: white;
    box-shadow: 5px 5px 15px rgba(43, 44, 69, 0.2), -5px 0px 10px rgba(43, 44, 69, 0.2);;
}

/* Navigation styling */

.main-head {
    background-color: rgb(83, 44, 69);
}

nav {
    min-height: 20vh;
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 90rem;
    justify-content: space-around;
    align-items: center;
}

#logo-container {
    display: flex;
    align-items: center;
    flex: 1 1 45rem;
}

#logo {
    height: 100px;
    box-sizing: content-box;
    pointer-events: none;
}

/* Hero section */

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(/images/hero-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h2 {
    padding-top: 2rem;
}

.hero h3 {
    padding: 3rem;
}

.hero-wrapper {
    position: relative;
    border-radius: 20px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.3);
}

.hero button {
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* About section */

#about-section {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    background: url(./images/about-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#about-wrapper {
    min-height: 100vh;
    margin-left: 5vw;
    width: 61.67vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.3);
    text-align: center;
}

#quotes-btn {
    align-self: center;
    border-radius: 20px;
}

#about-section h2 {
    text-decoration: underline;
    text-decoration-color: rgb(83, 44, 69);
    text-decoration-thickness: .7rem;
}

#about-section p {
    padding: 3rem;
}

#sun {
    position: absolute;
    max-width: 50%;
    right: 0;
    animation: sunAnimation 3s ease-in-out infinite alternate;
}

#sid {
    position: absolute;
    max-width: 15%;
    bottom: 0;
    right: 25%;
    animation: sidAnimation 2s ease-in-out infinite alternate;
}

@keyframes sunAnimation {
    from {
        transform: translateX(-15%);
        opacity: .5;
    }
    to {
        transform: translateX(30%);
        opacity: 1;
    }
}

@keyframes sidAnimation {
    from {
        transform: scale(.9);
        opacity: 1;
    }
    to {
        transform: scale(0.8);
        opacity: .6;
    }
}

/* Media queries */

@media screen and (max-width: 1500px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 1320px) {
    html {
        font-size: 50%;
    }
    #logo-container {
        justify-content: center;
    }

    #logo {
        padding-top: 3rem;
        box-sizing: content-box;
    }

}

@media screen and (max-width: 1200px) {
    #about-wrapper {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 900px) {
    #about-wrapper h2 {
        font-size: 5rem;
        text-decoration-thickness: .5rem;
    }

    #sun {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    nav ul {
        display: none;
    }

    #about-wrapper {
        width: 90%;
    }

    #about-wrapper h2 {
        font-size: 3rem;
        text-decoration-thickness: .3rem;
    }

    #about-wrapper p {
        font-size: 2rem;
    }

    #quotes-btn {
        margin: 2rem
    }
}